:root {
  --midnight-green: rgb(10, 115, 114);
  --kelly-green: #12b90dff;
  --crimson: #d7263dff;
  --dodger-blue: #0197f6ff;
  --white: #ffffffff;
  --black: #000000ff;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-color: var(--white);
  font-family: 'Oswald', sans-serif;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body * {
  padding: 0px;
  margin: 0px;
}

div#root {
  padding: 0px;
  margin: 0px;
}