@import url('/E:/Pastas/...PewDizinho/.Visual_Studio/.........Novo/ProdutosDoFuturo/produtos-do-futuro/src/css/index.css');


div.navBar,
div.navBar__menu {
    background-color: var(--black);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 100%;


}

li {
    color: var(--midnight-green);
}

div.navBar__logo * {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

div p {
    color: var(--midnight-green);
}

img {
    height: 140px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}


div.navBar {
    margin-top: 50px;
    margin-left: 0px;
}